include ../container/container
include ../icon/icon

mixin menu(data)
	- data = data || {}

	+b('nav').menu&attributes(attributes)
		+container.menu__content
			+e.column
				+e('ul').main-nav-list
					each link in data.navigation
						+e('li').main-nav-item
							+e('a').main-nav-link(href=jv0)= link.title
				+e.links-wrapper
					+e('a').link._bold(href=jv0) Скачать PDF каталог

			+e.column
				+e('button').list-toggler.js-list-toggler(type='button') Проекты
					+icon('arrow').toggler-icon(width='18px' height='18px')
				+e('ul').sub-nav-list
					each link in data.projects
						+e('li').sub-nav-item
							+e('a').sub-nav-link(href=jv0)= link.title
				+e.links-wrapper
					+e('a').link._big(href=jv0) Позвонить
					+e('a').link._big(href=jv0) What's up
					+e('a').link._big(href=jv0) Написать письмо

			+e.column
				+e('button').list-toggler.js-list-toggler(type='button') Творческие проекты Мануфактуры
					+icon('arrow').toggler-icon(width='18px' height='18px')
				+e('ul').sub-nav-list
					each link in data.arts
						+e('li').sub-nav-item
							+e('a').sub-nav-link(href=jv0)= link.title
				+e.links-wrapper
					+e('a').link(href=jv0) Участие в фестивалях, маркетах и воркшопах
					+e('a').link(href=jv0) Instagram
					+e('a').link(href=jv0) Facebook
					+e('a').link(href=jv0) ВКонтакте

			+e.mobile-links
				+e('a').link(href=jv0) Участие в фестивалях, маркетах и воркшопах
				+e('a').link(href=jv0) Instagram
				+e('a').link(href=jv0) Facebook
				+e('a').link(href=jv0) ВКонтакте
				+e('a').link._bold._bordered(href=jv0) Позвонить
				+e('a').link._bold._bordered(href=jv0) What's up
				+e('a').link._bold._bordered(href=jv0) Написать письмо
				+e('a').link._bold._bordered(href=jv0) Скачать PDF каталог
